@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --salmon-color: #ffdbcb;
  --midnight-color: #423c66;
  --grey-color: #595d7b;
  --mid-grey-color: #4d6475;
  --blue-grey-color: #e9eef2;
  --dark-grey-color: #1e2a32;
  --light-color: #f4f8fa;
  --light-purple-color: #645d93;
  --dark-purple-color: #241e47;
  --light-light-purple-color: rgba(178, 167, 244, 0.1);
  --light-dark-purple-color: rgba(178, 167, 244, 0.25);
  --dark-blue-grey-color: #1e2a32;

  --spacing: 32px 40px;

  --inter-family: "Inter", sans-serif;
}

html {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: white;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
